/*Universal Customization*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}






/*Modal Customization*/

body.modal-open main, body.modal-open nav{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.modal-content{
  background-color:rgba(236, 236, 234, 0.9);
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header, .modal-footer {
  border:none;
  display: block;
}

.modal-header {
  padding: 20px 0px 0px;
}

.modal-header h1 {
  color: #2193b0;
}

.modal-footer {
  padding: 0px 0px 35px;
}

.modal-header > a {
  position: absolute;
  top: 16px;
  right: 16px;
}





/*Landing Page Customization*/
#landing h1 {
  font-family: 'Permanent Marker', cursive;
  color: white;
  line-height: 2.8rem;
}

#landing .jumbotron p {
  color: white;
  opacity: .8;
  width: 70%;
  line-height: initial;
  margin: 25px 30px 0px;
  min-width: 250px;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

#landing .fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  height: 100vh;
}

#landing .fullscreen video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  #landing .fullscreen video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  #landing .fullscreen video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 410px) {
  #landing .fullscreen {
    background: url('../img/lonely-blue.jpg') center center / cover no-repeat;
  }

  #landing .fullscreen video {
    display: none;
  }
}

#landing .map {
  overflow-x:hidden;
  position: relative;
}

#landing .map h2 {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}

#landing .map img{
    display: block;
    margin: auto auto 80px;
    filter: grayscale(100%) invert(80%);
}

#landing .map a {
  position: absolute;
  color: white;
  transition: .2s;
  font-size: 140%;
  text-shadow: 0px 1px 0px #b2a98f,
               0px 0px 0px rgba(0,0,0,0.15),
               0px 0px 0px rgba(0,0,0,0.1),
               0px 0px 0px rgba(0,0,0,0.1);
}

#landing .map a:hover, .map a:active {
  text-decoration: none;
  font-size: 150%;
  text-shadow: 0px 2px 0px #b2a98f,
           0px 14px 10px rgba(0,0,0,0.15),
           0px 24px 2px rgba(0,0,0,0.1),
           0px 34px 30px rgba(0,0,0,0.1);
}

#landing .map a:nth-child(2) {
  top: 165px;
    right: 60%;
}

#landing .map a:nth-child(3) {
    top: 300px;
    right: 45%;
}

#landing .map a:nth-child(4) {
    top: 425px;
    right: 30%;
}

#landing .landing-footer{
    display: block;
    margin: 20px auto;
    color: white;
    opacity: .7;
    text-align: center;
}




/*Bootstrap Customization*/
.btn {
  border-radius: 20px;
  padding: 6px 25px;
}

.btn-dark {
  background-color: #2193b0;
  border: 2px solid #2193b0;
}

.btn-dark:hover{
  background-color: #1e839c;
  border: 2px solid #1e839c;
}

.btn-outline-dark {
  border: 2px solid #2193b0;
  color: #2193b0;
}

.btn-outline-dark:hover {
  background-color: #1e839c;
  border: 2px solid #1e839c;
}

.jumbotron {
  background-color: transparent;
  margin: 0;
  padding-bottom: 0;
}

a.nav-link {
  text-align: center;
  margin: auto 10px;
  font-size: 20px;
}

.navbar-brand {
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.navbar-brand i{
  color: rgba(0, 0, 0, 0.7);
}

.navbar-brand img {
  width: 30px;
}

.navbar{
  transition:500ms ease;
  background: rgba(236, 236, 234, 0.9);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/*.navbar.scrolled{
  background: rgba(236, 236, 234, 0.7);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}*/
.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}

.navbar-toggler {
  border: none;
}

.form-control {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  border: 1px solid #ced4da;
  outline: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}



/*Homepage Customization*/

#home .banner {
  padding: 0;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
  background-color: rgba(0, 0, 0, 0.2);
}

#home .banner > div > div > h1{
  font-family: 'Permanent Marker', serif;
  letter-spacing: 3px;
  font-weight: normal;
  color: white;
  line-height: 90%;
  text-shadow: 0px 1px 0px #b2a98f, 0px 0px 0px rgba(0,0,0,0.15), 0px 0px 0px rgba(0,0,0,0.1), 0px 0px 0px rgba(0,0,0,0.1)
}

#home .banner > div > div > p{
  color: white;
  opacity: .8;
  width: 70%;
  line-height: initial;
  margin: 25px 30px 0px;
  min-width: 250px;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

#home .banner > .jumbotron {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#home .welcome {
	position: relative;
  height: 100vh;
  max-height: 500px;
  overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
  filter: saturate(1.8);
}

#home .welcome video {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (min-aspect-ratio: 16/9) {
  #home .welcome video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  #home .welcome video {
    width: 120%;
    left: 0;
    top: 0;
  }
}

@media (min-width: 1440px){
  #home .welcome video {
    top:-95%;
  }
}

@media (max-width: 768px) {
  #home .welcome {
    background: url('../img/luzon.jpg') center center / cover no-repeat;
  }

  #home .welcome video {
    display: none;
  }

  #home .banner > .jumbotron h1 {
    font-size: 3rem;
    margin: 0;
   }

  #home .banner > .jumbotron p {
    font-size: 1rem;
   }

  #home .banner > .jumbotron {
    padding: 2rem auto;
  }
  
  /* .banner-small, .vision, .cta{
    background-attachment: inherit !important;
  } */
}

#home .banner-editor {
  position: relative;
	height: 500px;
	background-color: #60704b;
	margin: 10px 0 50px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}

#home .banner-editor h2 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

#home .banner-editor h3 {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  margin: auto;
  max-width: 70%;
  font-weight: bold;

}



.featured-1{
  background-image: url(../img/featured-1.jpg);
}
.featured-2{
  background-image: url(../img/featured-2.jpg);
}
.featured-3{
  background-image: url(../img/featured-3.jpg);
}
.featured-4{
  background-image: url(../img/featured-4.jpg);
}
.featured-5{
  background-image: url(../img/featured-5.jpg);
}
.featured-6{
  background-image: url(../img/featured-6.jpg);
}
.suggest-1{
  background-image: url(../img/suggest-1.jpg);
}
.suggest-2{
  background-image: url(../img/suggest-2.jpg);
}
.suggest-3{
  background-image: url(../img/suggest-3.jpg);
}
.suggest-4{
  background-image: url(../img/suggest-4.jpg);
}
.editors-1{
  background-image: url(../img/editors-1.jpg);
}
.editors-2{
  background-image: url(../img/editors-2.jpg);
}
.editors-3{
  background-image: url(../img/editors-3.jpg);
}
.vision{
  background-image: url(../img/vision.jpg);
  background-attachment: fixed;
  background-position: center;
}
.gal1-1 {
  background-image: url(../img/gal1-1.jpg);
}
.gal1-2 {
  background-image: url(../img/gal1-2.jpg);
}
.gal1-3 {
  background-image: url(../img/gal1-3.jpg);
}
.gal1-4 {
  background-image: url(../img/gal1-4.jpg);
}
.gal1-5 {
  background-image: url(../img/gal1-5.jpg);
}






/*Footer Customization*/

.main-footer {
  background-color: #e6e6e6;
  height: auto;
  display: block;
  opacity: .7;
  padding: 30px 0px 0px;
  overflow: hidden;
}

.main-footer p{
  margin: 0;
  padding: 5px 20px;
}

.main-footer p > a{
  color: #1d1d1d;
  transition: .5s;
}

.main-footer p > a:hover{
  font-size: 16.5px;
  text-decoration: none;
}


.main-footer > div > div > div {
  margin: 20px auto;
}

.main-footer > div > div > div:last-child{
  text-align: center;
}
.fa-behance-square{
  color: #1769ff;
}

.fa-twitter-square {
  color: #1da1f2;
}
.fa-instagram {
  color: #c13584;
}





/*Call to Action Customization*/

.cta {
  background: linear-gradient(-180deg, rgba(254,254,254,0.00) 10%, #141414 100%), url(../img/suggest-1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  padding: 60px;
  height: 100%;
  filter: saturate(0.7);
}

.cta h2,.cta p {
  text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

.cta h2 {
  font-family: 'Permanent Marker', serif;
  letter-spacing: 3px;
  font-weight: normal;
}




/*Global Customization*/

body {
  background-color: #F4F4F2;
}

section {
  margin: 50px 0px 100px;
}

section h2 {
  font-weight: bold;
  letter-spacing: .5px;
}

iframe {
    width: 100%;
}

a:focus, button:focus {
  outline: none;
}

nav a.active {
  font-weight: bold;
  color: #1e839c !important;
}

.alt-container{
    /* background-color: rgb(231, 231, 231); */
    padding: 20px 0px;
}

#home section > h2, #contact h3, .main-footer h4 {
  color: #1d1d1d;
}

#contact .banner-small {
  background-image: linear-gradient(-180deg, rgba(254,254,254,0.00) 10%, #141414 100%), url(../img/contact.jpg);
}

#about .banner-small {
  background-image:linear-gradient(-180deg, rgba(254,254,254,0.00) 10%, #141414 100%), url(../img/about.jpg);
}

#about .sources {
  overflow: hidden;
  text-overflow: ellipsis;
}

#about .sources > small {
  white-space: nowrap;
}

#about .sources > small > a {
  color: #6c757d;
}

#about .sources > p {
  margin: 0;
}

#about .dev-profile {
  background-image: url(../img/profile.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-small {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  padding: 80px 0;
  background-position: center center;
}

.banner-small > div > div > h1 {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 43px;
  max-width: 500px;
  margin: auto;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

.banner-small > div{
  padding: 100px 0 40px;
}

.vh-center {
    position: absolute;
    top: 50%;
    height: 100px;
    margin-top: -50px;
    right:  0;
    left: 0;
}

.card-container {
  height: 200px;
  background-color: #60704b;
  margin: 10px 0;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card-heading h4 {
  position: absolute;
  bottom: 30px;
  margin: 5px 10px;
  color: white;
  text-overflow: ellipsis;
  width: 90%;
  font-weight: bold;
  letter-spacing: .5px;
}

.card-subheading h5 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}

.card-gradient{
  background-image: linear-gradient(-180deg, rgba(254,254,254,0.00) 30%, #141414 100%);
  height: 100%;
}

.btn-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2%;
}

.btn-top a > button {
  border: 0;
  color: #1d1d1d;
  font-size: 30px;
  width: 54px;
  padding: 5px 0;
  border-radius: 50%;
  background: rgba(236, 236, 234, 0.9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.btn-top a > button:hover {
  border: 0;
  background-color: white;
  color: #1d1d1d;
}

.btn-top a > button:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 410px) {
  .btn-top {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
}


#about h2 {
  background-color: #f4f4f2;
  top: 63.4px;
}


/*Contact Customization*/
#contact > div > div.row > div {
  margin: 40px auto;
}

#contact label {
  width: 100%;
}

#contact textarea {
  resize: none;
}

#contact a {
  text-align: right;
}

#contact > div > div > div > h2 > i.fas {
    font-size: 20px;
    vertical-align: middle;
}

#contact .fa-phone{
  transform: rotate(115deg);
}





/*Profile Customization*/
#profile section {
  margin-bottom: 100px;
}

#profile .banner-small > div > div > h1 {
  font-family: 'Permanent Marker', cursive;
  font-weight: normal;
  line-height: 50px;
}

#profile .jumbotron {
    position: absolute;
    left: 0;
    top: 150px;
    right: 0;
}

#profile .jumbotron h1 {
    color: white;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 50px;
    max-width: 500px;
    margin: auto;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    overflow: hidden;
    font-family: 'Permanent Marker', cursive;
}

#profile .banner-small {
    height: 400px;
    filter: brightness(80%);
}

#gallery div > div > a > div  {
  height: auto;
  padding: 50%;
}

.gallery {
  padding: 50% 0;
}

.gallery  span {
  color: white;
  filter: invert(100%);
}

#reviews >div >div>div{
 text-align: center;
 height: 250px;
 padding: 10% 0;
}

#reviews blockquote{
  width: 80%;
  margin: auto;
}

#reviews .fa-chevron-right,#reviews .fa-chevron-left {
  color: gray;
}