* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.btn {
	border-radius: 20px;
	padding: 6px 25px;
}

.jumbotron {
	background-color: transparent;
	margin: 0;
	padding-bottom: 0;
}

.jumbotron h1{
	font-family: 'Permanent Marker', cursive;
	color: white;
	text-shadow: 0px 1px 0px #b2a98f, 0px 0px 0px rgba(0,0,0,0.15), 0px 0px 0px rgba(0,0,0,0.1), 0px 0px 0px rgba(0,0,0,0.1)
}

.jumbotron p{
	color: white;
	opacity: .8;
  width: 70%;
  line-height: initial;
  margin: auto 30px;
  min-width: 250px;
	text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.map {
	overflow-x:hidden;
	position: relative;
	font-family: 'Permanent Marker', cursive;
}

.map p {
	margin: 0;
}

.map img{
    display: block;
    margin: auto auto 80px;
    filter: grayscale(100%) invert(80%);
}

.map a {
	position: absolute;
	color: white;
	transition: .2s;
	font-size: 140%;
	text-shadow: 0px 1px 0px #b2a98f,
	             0px 0px 0px rgba(0,0,0,0.15),
	             0px 0px 0px rgba(0,0,0,0.1),
	             0px 0px 0px rgba(0,0,0,0.1);
}

.map a:hover, .map a:active {
	text-decoration: none;
	font-size: 150%;
  	text-shadow: 0px 2px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 34px 30px rgba(0,0,0,0.1);
}

.map a:nth-child(2) {
	top: 165px;
    right: 60%;
}

.map a:nth-child(3) {
    top: 300px;
    right: 45%;
}

.map a:nth-child(4) {
    top: 425px;
    right: 30%;
}


.landing-footer{
    display: block;
    margin: 20px auto;
    color: white;
    opacity: .7;
    text-align: center;
}


.fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  height: 100vh;
}

.fullscreen video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 410px) {
  .fullscreen {
    background: url('../img/lonely-blue.jpg') center center / cover no-repeat;
  }

  .fullscreen video {
    display: none;
  }
}


/*Homepage*/


.navbar-brand img {
	width: 50px;
}

.welcome {
	position: relative;
  height: 100vh;
  max-height: 500px;
  overflow: hidden;
  margin-bottom: 80px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -100;
}

.welcome video {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
}

@media (min-aspect-ratio: 16/9) {
  .welcome video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .welcome video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 410px) {
  .welcome {
    background: url('../img/luzon.jpg') center center / cover no-repeat;
  }

  .welcome video {
    display: none;
  }

  .banner > .jumbotron h1 {
    font-size: 3rem;
    margin: 0;
   }

   .banner > .jumbotron p {
    font-size: 1rem;
    margin: 0;
   }

   .banner > .jumbotron {
    padding: 2rem auto;
	}
}

.banner {
	padding: 0;
}

.banner > .jumbotron {
    position: absolute;
    top: 5%;
}

section {
	margin: 50px 0px;
}

.card-essentials {
	height: 350px;
	background-color: #8baf51;
	margin: 10px 0;
}

.card-featured {
	height: 200px;
	background-color: #60704b;
	margin: 10px 0;
}

.card-editors {
	height: 500px;
	background-color: #60704b;
	margin: 10px 0 50px;
}

.alt-container{
    background-color: #ececec;
    padding: 20px;
}

.main-footer {
  background-color: lightgray;
  height: 300px;
  display: block;
  color: black;
  opacity: .7;
  padding: 50px 0px;
  overflow: hidden;
}

.main-footer p{
  margin: 0;
}